apiVersion: v1
kind: Service
metadata:
  name: auth
  namespace: microservices
spec:
  selector:
    app: auth
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP # most common for internal microservices
